<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApoN0DirW4Sf6_TVheLHNXKy1Le_4t0pk</string>
	<key>GCM_SENDER_ID</key>
	<string>121988994607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.androidAppProjectBookhub.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bookhub-8e48c</string>
	<key>STORAGE_BUCKET</key>
	<string>bookhub-8e48c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121988994607:ios:b158f4515fc7f444bd18da</string>
</dict>
</plist>